/*!
 * Roots 6.5.1
 */
@import "bootstrap/bootstrap.less";
@import "icons.less";
@import "home.less";
@import "aboutUS.less";
@import "partials/destinations.less";
@import "partials/moreservices.less";

@import "../css/plugins/icons/icons.css";

/* ==========================================================================
 Fonts
 ========================================================================== */
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham/Gotham-Light.otf');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham/Gotham-Medium.otf');
}
/* ==========================================================================
 Colors
 ========================================================================== */
@color-white: #fff;
@color-black: #000;
@color-blue: #0057a6;
@color-orange: #fb6532;
@color-pine-cone: #695d53;
@color-lightgray: #b4aea9;
@color-dark-green: #4ea223;
@color-green-mantis: #89c74d;
@color-blue-cerulean: #00b7fa;
@color-blue-cerulean-light: #73d7fc;

.black { color: @color-black; }

.white { color: @color-white; }

.green { color: @color-green-mantis; }

.dark-green { color: @color-dark-green; }

.blue-cerulean { color: @color-blue-cerulean }

.pine-cone { color: @color-pine-cone }


/* ==========================================================================
 Base
 ========================================================================== */
body { font-family: 'Gotham'; }

.main-container{
    width: 100%;
    display: flex;
    max-width: 1500px;
}

/* ==========================================================================
 Header
 ========================================================================== */
.banner {
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-color: transparent;
    background-color: @color-white;
}

.nav-pills { padding-left: 10px; }

.nav-pills>li.active>a {
    font-size: 14px;
    font-family: Gotham-Bold;
    color: @color-green-mantis;
    background-color: transparent;
}

.nav-pills>li>a {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: @color-black;
    line-height: 26.827px;
    font-family: Gotham-Book;
    padding: 5px 25px 0px 15px;

    span {
        display: block;
        font-size: 25px;
    }
}

.nav-pills>li { padding-top: 17px; }

.nav-pills>li+li { margin-left: 35px; }

.logo a {
    box-shadow: none;

    img {
        width: 110px;
        padding-top: 10px;
        margin-left: 40px;
    }
}

/* ==========================================================================
 Content
 ========================================================================== */
.content {
    /*code*/
}

/* ==========================================================================
 Primary Content
 ========================================================================== */
.main {
    /*code*/
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
 Sidebar
 ========================================================================== */
.sidebar {
    /*code*/
}

/* ==========================================================================
 Buttons
 ========================================================================== */
button.round {
    color: @color-white;
    border-radius: 25px;
    font-family: Gotham-Bold;

    &.primary {
        font-size: 16px;
        padding: 5px 30px;
        background-color: transparent;
        border: 1px solid @color-white;
        
        &.btn-orange{
            background-color: @color-orange;
            border: none;
            font-family: Gotham-Light;
        }
    }

    &.btn-green {
        font-size: 25px;
        padding: 10px 30px;
        background-color: @color-green-mantis;
        border: 1px solid @color-green-mantis;
    }
}

/* ==========================================================================
 Titles
 ========================================================================== */
h1.title {
    font-family: Gotham-Bold;

    span { font-family: Gotham-Light; }

    &.t1 { font-size: 60px; }

    &.t2 { font-size: 42px; }

    &.t3 { font-size: 35px; }

    &.t4 { font-size: 32px; }
    
    &.t5 { font-size: 11px; }
}

h2.subtitle {
    font-size: 26px;
    font-family: Gotham-Light;
}

/* ==========================================================================
 Text
 ========================================================================== */
p.text {
    
    font-size: 16px;
    
    &.t-sumary {
        font-size: 20px;
        font-family: Gotham-Medium;
    }
    &.t-paragraph {
        font-size: 16px;
        font-family: Gotham-Book;
    }
    &.img-sumary {
        font-size: 12px;
        font-family: Gotham-Book;
    }
}

/* ==========================================================================
 Posts
 ========================================================================== */
.hentry header {
    /*code*/
}

.hentry time {
    /*code*/
}

.hentry .byline {
    /*code*/
}

.hentry .entry-content {
    /*code*/
}

.hentry footer {
    /*code*/
}

/* ==========================================================================
 Footer
 ========================================================================== */
#logo-bar {
    height: 84px;
    background-color: @color-blue;
    box-shadow: 0px 8px 11px @color-lightgray;
    text-align: center;
    padding-top: 20px;
    color: @color-white;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;

    p { padding-top: 5px; }
}

#footer-bar {
    height: 240px;
    padding-top: 60px;
}

.footer-column {
    padding-left: 30px;
    font-size: 14px;

    h4 { font-weight: bold; }

    p {
        font-weight: lighter;
        color: @color-lightgray;
        max-width: 100px;
    }
}

#footer-text {
    width: 80%;

    .footer-logo {
        border-right: 1px solid @color-lightgray;
        padding-bottom: 5px;

        img {
            width: 150px;
            height: auto;
        }
    }
}

.social-list {
    padding-left: 0px;

    .social-icon {
        width: 42px;
        height: 40px;
        background-image: url(../img/icon-social.png);
        display: inline-block;
        margin-right: 13px;

        &:hover { cursor: pointer; }
    }

    .twitter { background-position: 114px; }

    .gmail { background-position: 42px; }
}

/* ==========================================================================
 Custome
 ========================================================================== */
.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.float-right { float: right; }

.float-left { float: left; }

/* ==========================================================================
 WordPress Generated Classes
 See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 ========================================================================== */
.aligncenter {
    display: block;
    margin: 0 auto;
}

.text-center { align-content: center; }

.alignleft { float: left; }

.alignright { float: right; }

figure.alignnone {
    margin-left: 0;
    margin-right: 0;
}

/* ==========================================================================
 Media Queries
 ========================================================================== */
@media (min-width: @screen-sm-min) {
    /*code*/
}

@media (min-width: @screen-md-min) {
    /*code*/
}

@media (min-width: @screen-lg-min) {
    /*code*/
}
