/*!
 * Roots 6.5.1
 */

@import "icons.less";
@import "home.less";
@import "aboutUS.less";
@import "contactUS.less";
@import "destinations.less";
@import "services.less";
@import "hotel.less";
@import "singles.less";
@import "moreservices.less";

@import "partials/destinations.less";
@import "partials/moreservices.less";
@import "partials/ourmemories.less";
@import "partials/musicwidget.less";

@import "bootstrap/bootstrap.less";
@import "bootstrap/variablesSelect.less";
@import "bootstrap/bootstrap-select.less";

@import "../css/plugins/icons/icons.css";

/* ==========================================================================
 Fonts
 ========================================================================== */
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham/Gotham-Light.otf');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham/Gotham-Medium.otf');
}
/* ==========================================================================
 Colors
 ========================================================================== */
@color-white: #fff;
@color-black: #000;
@color-blue: #0057a6;
@color-orange: #fb6532;
@color-pine-cone: #695d53;
@color-lightgray: #b4aea9;
@color-dark-green: #4ea223;
@color-green-mantis: #89c74d;
@color-green-conifer: #9bd548;
@color-blue-cerulean: #00b7fa;
@color-blue-cerulean-light: #73d7fc;

.black { color: @color-black; }

.white { color: @color-white; }

.green { color: @color-green-mantis; }

.dark-green { color: @color-dark-green; }

.blue-cerulean { color: @color-blue-cerulean }

.pine-cone { color: @color-pine-cone }


/* ==========================================================================
 Base
 ========================================================================== */
body { font-family: 'Gotham'; }

.main-container{
    width: 100%;
    display: flex;
    max-width: 1500px;
    
}

/* ==========================================================================
 Header
 ========================================================================== */
.banner {
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-color: transparent;
    background-color: rgba(1,1,1,0.5);
    opacity: 1;
    position: fixed;
    width: 100%;
}

.nav-pills { padding-left: 10px; }

.nav-pills>li.active>a {
    font-size: 12px;
    color: @color-green-mantis;
    background-color: transparent;
}

.nav-pills>li>a {
    font-size: 12px;
    font-family: Gotham-Light;
    text-align: center;
    color: @color-white;
    line-height: 26.827px;
    font-family: Gotham-Book;
    padding: 5px 0px 0px 0px;
    border-radius: 0px;
    
    &:hover{
        color: @color-lightgray;
    }
    

    span {
        display: block;
        font-size: 25px;
    }
    
    &:hover{
       background-color: transparent;
    }
}

.nav-pills>li { 
    padding-top: 17px; 
    
    &:hover{
       background-color: transparent;
        border-bottom: 0x;
    }

}

.nav-pills>li+li { margin-left: 103px; }

.logo a {
    box-shadow: none;

    img {
        width: 110px;
        padding-top: 10px;
    }
}

.small-banner{
    height: 400px;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* ==========================================================================
 Content
 ========================================================================== */
.content {
    /*code*/
}

.content-medium {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: table;
}

.content-large {
    width: 80%;
    margin: 0 auto;
    display: table;
}

/* ==========================================================================
 Primary Content
 ========================================================================== */
.main {
    /*code*/
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
 Sidebar
 ========================================================================== */
.sidebar {
    /*code*/
}

/* ==========================================================================
 Buttons
 ========================================================================== */
button.round {
    color: @color-white;
    border-radius: 50px;
    font-family: Gotham-Bold;
    margin-top: 30px;
    
    &:hover{
        background-color: @color-orange;
    }

    &.primary {
        font-size: 16px;
        padding: 5px 25px;
        background-color: transparent;
        border: 1px solid @color-white;
        
        &:hover{
            background-color: @color-orange;
            border: 1px solid @color-orange;
        }
        
        &.btn-orange{
            background-color: @color-orange;
            border: none;
            font-family: Gotham-Bold;
            letter-spacing: 4px;
            
            &:hover{
            background-color: @color-pine-cone;
            }
        }
    }

    &.btn-green {
        font-size: 22px;
        padding: 15px 30px;
        background-color: @color-green-mantis;
        border: 1px solid @color-green-mantis;
        
        &:hover{
            background-color: @color-orange;
            border: 1px solid @color-orange;
        }
    }
}

.btn-green{
    padding: 10px;
    font-size: 13px;
    color: @color-white;
    font-family: Gotham-Bold;
    background-color: @color-green-conifer; 
    
    &:hover{
            background-color: @color-orange;
            border: none;
        }
}

/* ==========================================================================
 Titles
 ========================================================================== */
h1.title {
    font-family: Gotham-Bold;
    letter-spacing: 1px;

    span { font-family: Gotham-Light; }

    &.t1 { font-size: 60px; }
    
    &.t1_1 { font-size: 50px; }

    &.t2 { font-size: 40px; }

    &.t3 { font-size: 35px; }

    &.t4 { font-size: 32px; }
    
    &.t4_1 { font-size: 28px; }
    
    &.t4_2 { font-size: 20px; }
    
    &.t4_3 { font-size: 18px; }
    
    &.t5 { font-size: 16px; }
    
    &.t6 { font-size: 14px; }
    
    &.t7 { font-size: 12px; }
}

.subtitle {
    font-size: 30px;
    font-family: Gotham-Light;
}

/* ==========================================================================
 Text
 ========================================================================== */
.text {
    
    font-size: 16px;
    
    &.t-sumary {
        font-size: 20px;
        font-family: Gotham-Book;
    }
    &.t-paragraph {
        font-size: 16px;
        color: @color-pine-cone;
        font-family: Gotham-Book;
    }
    &.img-sumary {
        font-size: 12px;
        font-family: Gotham-Book;
    }
    &.main-text{
        .t-paragraph;
        color: @color-pine-cone;
        line-height: 34px;
    }
}

.t12{
        font-size: 12px;
        font-family: Gotham-Book;
}

/* ==========================================================================
 Posts
 ========================================================================== */
.hentry header {
    /*code*/
}

.hentry time {
    /*code*/
}

.hentry .byline {
    /*code*/
}

.hentry .entry-content {
    /*code*/
}

.hentry footer {
    /*code*/
}

/* ==========================================================================
 Footer
 ========================================================================== */
#logo-bar {
    height: 84px;
    background-color: @color-blue;
    box-shadow: 0px 8px 11px @color-lightgray;
    text-align: center;
    padding-top: 20px;
    color: @color-white;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;

    p { padding-top: 5px; }
}

#footer-bar {
    height: 240px;
    padding-top: 60px;
}

.footer-column {
    padding-left: 14px;
    font-size: 16px;

    h4 { font-weight: bold; 
    color: @color-dark-green;}

    p {
        font-family: 'Gotham-Light';
        color: @color-pine-cone;
        letter-spacing: 1px;
    }
}

#footer-text {

    .footer-logo {
        padding-bottom: 5px;
        margin-right: 100px;

        img {
            width: 150px;
            height: auto;
        }
    }
}

.social-list {
    padding-left: 0px;

    .social-icon {
        width: 42px;
        height: 40px;
        background-image: url(../img/icon-social.png);
        display: inline-block;
        margin-right: 13px;

        &:hover { cursor: pointer; }
    }

    .twitter { background-position: 114px; }

    .gmail { background-position: 42px; }
}

.skype-column{
    text-align: right;
}

/* ==========================================================================
 Custome
 ========================================================================== */
.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.float-right { float: right; }

.float-left { float: left; }

/* ==========================================================================
 WordPress Generated Classes
 See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 ========================================================================== */
.aligncenter {
    display: block;
    margin: 0 auto;
}

.text-center { align-content: center; }

.text-justify, .text-justify > p{
    text-align: justify;
    text-justify: inter-word;
}

.alignleft { float: left; }

.alignright { float: right; }

figure.alignnone {
    margin-left: 0;
    margin-right: 0;
}

.busIcon{
    padding: 35px;
    margin-right: 10px;
    border-radius: 100%;
    background: #00b7fa url("../img/icon-transport.png") no-repeat 20px 20px;
}

/* ==========================================================================
 Bootstrap Overwrite
 ========================================================================== */

a:hover, a:focus {
  box-shadow: none; 
}
/* ==========================================================================
 Media Queries
 ========================================================================== */
@media (min-width: @screen-sm-min) {
    /*code*/
}

@media (min-width: @screen-md-min) {
    /*code*/
}

@media (min-width: @screen-lg-min) {
    /*code*/
}
