.single{
    padding-bottom: 40px;
}

.singleHeader{
    width: 60%;
    margin: 0 auto;
    display: table;
    padding-bottom: 30px;
}

.singleOneDayHeader{
    background-image: url(../img/Group%204.png);
}