.single {
    padding-bottom: 80px;

    .carouselContent {
        width: 100%;
        display: inline-table;
        background-color: @color-white;

        .carousel {
            width: 100%;
            display: inline-table;

            .carousel-inner {
                .item {
                    padding: 0px 70px;

                    img {
                        width: 300px;
                        height: 170px;
                    }

                    .subItem {
                        padding-top: 15px;
                        padding-bottom: 15px;

                        .tour-name { HEIGHT: 30px; }
                    }
                }

                .carousel-control {
                    width: 5%;

                    &.right {
                        right: 4%;
                        background-image: none;

                        span {
                            right: -15px;
                            font-size: 80px;
                            color: @color-pine-cone;
                        }
                    }

                    &.left {
                        left: 4%;
                        background-image: none;

                        span {
                            left: 0px;
                            font-size: 80px;
                            color: @color-pine-cone;
                        }
                    }

                    span {
                        top: 10%;
                        z-index: 5;
                        font-size: 50px;
                        position: absolute;
                        font-family: initial;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.singleHeader {
    margin: 0 auto;
    display: table;
    width: 100%;
    margin-top: 130px;
}

.singleOneDayHeader { background-image: url(../img/Group%204.png); }

.single-image {
    height: 300px;
    width: 100%;
    background-position: center center;
    background-size: 100% auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
