.single{
    padding-bottom: 80px;
}

.singleHeader{
    margin: 0 auto;
    display: table;
}

.singleOneDayHeader{
    background-image: url(../img/Group%204.png);
}

.single-image{
    height: 300px;
    width: 100%;
    background-position: center center;
    background-size: 100% auto;
}