/////////////// LESS File for the destination partial ////////////

#moreservices-banner{
    height: 530px;
    width: 100%;
    background-color: @color-blue-cerulean;
    
    padding-top: 50px;
    text-align: center;
    color: @color-white;
    font-family: Gotham-Light;
    
    h1 {
        font-family: Gotham-Light;
    }
    
}

.services-list{
    margin-top: 30px;
    border-top: 1px solid @color-blue-cerulean-light;
    width: 100%;
    padding-top: 50px;
    
}

.service{
    text-align: left;
    background-repeat: no-repeat;
    background-position-x:15px;
    padding-top: 20px;
    
    h1{
        font-weight: bolder;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        margin-bottom: 15px;
        font-size: 30px;
        width: 110px;
        
        span {
            font-weight: lighter;
        }
    }
    
    a{
        color: white;
        font-weight: bold;
    }
    
    p{
        width: 200px;
    }

}

#hotel-offers{
    background-image: url(../img/icon-hotel.png);
    
}

#transport-offers{
    background-image: url(../img/icon-transport.png);
    
}

#ecoturism-offers{
    background-image: url(../img/icon-ecoturism.png);
    
}

#emigration-offers{
    background-image: url(../img/icon-emigration.png);
    
}